/* Type your code here */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: bolder;
}
body{
	background-image: url("assets/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}
tr{
	background: white;
}
.logo{
	float: right;
	padding-right: 8rem;
}
a{
	color:rgb(44, 182, 236);
	text-decoration: none;
	cursor: pointer;
}
.head{
	padding-top: 4rem;
	font-weight: bolder;
	margin-left: 55px;
}
.head h1{
	font-size: 3rem;
	text-shadow: 0 0 3px black;
}
.head h5{
	font-size: 1.5rem;
	color: grey;
}
.T1{
	padding-top: 2rem;
}

.table1{
	height: 35px;
	color: white;
}
 th{
	text-align: left;
	padding: 10px;	
}

.score{
	float:right;
}
table{
	border-collapse: collapse;
	font-size:18px;
	width: 55%;
	margin-left: 55px;
}

.table2 th{
background: rgb(247, 241, 241);
}
td{
	border-bottom: 1px solid grey;
	padding: 8px;
}

.out{
	color: gray;
}
/* change the font family and spacing as per your project font */
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;
    
}